h1{
    border: 20px solid blue;

    padding: 40px;
}
h2 {
    border-radius: 20px;
    border-style: solid;
    border-color: red;

    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
}
p{
    border: 20px groove blue;

    padding: 20px 10px;
}
